<include file="common/header"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/Widget/webuploader-0.1.5/webuploader.css">
<body>
<div class="type_style">
    <div class="crumbs">
        <ul>
            <li>
                <a href="{:url('Assess/index')}">评论管理</a>
            </li>
            <li class="uline">/</li>
            <li>
                <a class="active" href="javascript:;">添加评论</a>
            </li>
        </ul>
    </div>
    <form action="" method="post" class="form form-horizontal">
        <div class="Operate_cont clearfix">
            <label class="form-label"> 评论者手机号：</label>
            <div class="formControls ">
                <input type="text" class="input-text" value="" placeholder="请填写发布人" name="mobile" datatype="*"
                       nullmsg=" 评论者手机号不能为空">
                <span class="Validform_checktip"></span>
            </div>
        </div>
     <!--   <div class="Operate_cont clearfix">
            <label class="form-label">头像：</label>
            <div id="uploader-demo">
                &lt;!&ndash;用来存放item&ndash;&gt;
                <div id="fileList1" class="uploader-list"></div>
                <div id="filePicker1">选择头像</div>
                <span style="position: absolute;margin-left: 400px;margin-top: -50px;" id="tip1"></span>
            </div>
        </div>-->

        <div class="Operate_cont clearfix">
            <label class="form-label">评价内容：</label>
            <div class="formControls " >
                <textarea style="width:500px;height:200px;border:3px;"  class="input-text" placeholder="请填写内容" name="content" datatype="*"
                          nullmsg="内容不能为空！"></textarea>
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">附加图片：</label>
            <div id="uploader-demo">
                <!--用来存放item-->
                <div id="fileList" class="uploader-list"></div>
                <div id="filePicker">选择图片</div>
                <span style="position: absolute;margin-left: 400px;margin-top: -50px;" id="tip"></span>
            </div>
        </div>



        <div class="Operate_cont clearfix">
            <label class="form-label">关联商品：</label>
            <div class="formControls">
                <volist name="goods_list"  id="vo">
                <label>
                    <input type="radio" name="goods_id" value="{$vo.goods_id}" checked>{$vo['goods_name']}
                </label>
                </volist>
            </div>
        </div>
        <div class="Operate_cont clearfix">

            <input class="btn btn-primary radius Operate_cont_btn" type="submit" value="提交">
            <a class="btn btn-primary return" onclick="javascript:history.back(-1);return false;">返回</a>

        </div>
    </form>
</div>

<script type="text/javascript" src="__STATIC__/admin/Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/Widget/webuploader-0.1.5/webuploader.js"></script>
<script>// 初始化Web Uploader
var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: '/static/admin/Widget/webuploader-0.1.5/Uploader.swf',

    // 文件接收服务端。
    server: '/healthy/upload',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    }
});
// 当有文件被添加进队列的时候
uploader.on( 'fileQueued', function( file ) {
    $('#tip').html('');
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file ,data) {
    //$('#tip').append('<input type="hidden" name="file[]" value='+data.msg+'>');
    if(data.status=='success'){
        $('#tip').append(' <img  style="width: 150px;height: 100px" src='+data.msg+' >');
        $('#tip').append('<input type="hidden" name="image[]" value='+data.msg+'>');
       // console.log(data.msg);
    }else{
        $('#tip').html(' <span style="color:red">'+data.msg+'</span>');
    }


});
var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: '/static/admin/Widget/webuploader-0.1.5/Uploader.swf',

    // 文件接收服务端。
    server: '/healthy/upload',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker1',

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    }
});
// 当有文件被添加进队列的时候
uploader.on( 'fileQueued', function( file ) {
    $('#tip1').html('');
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file ,data) {
    //$('#tip').append('<input type="hidden" name="file[]" value='+data.msg+'>');
    if(data.status=='success'){
        $('#tip1').append(' <img  style="width: 150px;height: 100px" src='+data.msg+' >');
        $('#tip1').append('<input type="hidden" name="head" value='+data.msg+'>');
        // console.log(data.msg);
    }else{
        $('#tip1').html(' <span style="color:red">'+data.msg+'</span>');
    }


});
</script>

</body>
</html>